header{
    background-color: #01CDD0;
}
header button, header, aside{
    padding: 15px;
}
header button, aside button{
    color: #fff;
}
header button{
    background-color: #9200CB;
    border: none;
    transition: 1s;
}
header button:hover{
    background-color: #fff;
    color: #9200CB;
}

header button:first-child{
    margin-right: 20px;
}
aside{
    width: 500px;
    background-color: rgba(221, 183, 134, 0.5);
    margin-top: 40px;
}
aside button{
    box-sizing: border-box;
    height: 50px;
    width: 40%;
    background-color: #DDB786;
    border: 1px solid #AA694F;
    margin-right: 5%;
    transition: 0.5s;
}

aside button:hover{
    background-color: #fff;
    color: #DDB786;
    box-shadow: 5px 5px 10px rgb(170, 105, 79);
}