.btn {
  font-family: 'Google Sans';
  font-size: 17px;
}

.best-services, .top-destinations {
  background-repeat: no-repeat;
}

.category-title {
  font-family: Volkhov;
  font-weight: 700;
  font-size: 50px;
}

.category-description {
  color: #5E6282;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.category-title {
  color: #181E4B;
  text-align: center;
}

.btn {
  color: #fff;
  padding: 18px 26px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.main-advantages {
  margin: 0 auto;
  max-width: 1228px;
}

.best-services {
  margin: 105px 0 156px 0;
  background-image: url("../img/best-services-plus-bg.png");
  background-position: right 0;
}

.best-services__category-description {
  text-transform: uppercase;
}

.best-services__category-title {
  margin: 10px 0 68px 0;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 45px 43px;
  margin-right: 35px;
  position: relative;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.services-list__item:hover {
  border-radius: 36px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.services-list__item::before {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background-color: #DF6951;
  border-radius: 30px 0 10px;
  bottom: -33px;
  left: -35px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.services-list__item:hover::before {
  opacity: 1;
}

.services-list__image-wrapper {
  margin: 0 auto;
}

.services-list__title {
  color: #1E1D4C;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 20px;
  margin: 30px 0 15px;
}

.services-list__description {
  color: #5E6282;
  line-height: 26px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}

.top-destinations {
  margin: 0 auto;
  max-width: 1102px;
  background-image: url("../img/top-destinations-decore.png");
  background-position: right center;
}

.top-destinations__category-title {
  margin: 8px 0 60px;
}

.destinations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.destinations-list__item {
  position: relative;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  color: #5E6282;
  margin-right: 47.5px;
}

.destinations-list__image {
  border-radius: 0 0 24px 24px;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.destinations-list__content-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 27px 25px 42px 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-radius: 0 0 22px 22px;
}

.destinations-list__title-wrapper {
  width: inherit;
  margin-bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.destinations-list__trip-duration {
  height: 20px;
}

.destinations-list__trip-duration::before {
  content: url("../img/destinations-card-navigation.png");
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.book-trip {
  max-width: 1114px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-trip__category-description {
  text-align: left;
}

.book-trip__category-title {
  margin: 15px 0 31px;
  text-align: left;
  line-height: 64.5px;
  text-transform: capitalize;
}

.booking-list__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}

.booking-list__image {
  margin-right: 21px;
  width: 47px;
  height: 48px;
}

.booking-list__text-wrapper {
  color: #5E6282;
}

.booking-list__title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 4px;
}

.booking-list__description {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.92px;
  max-width: 395px;
}

.book-trip__image {
  margin-right: -50px;
}

.people-say {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1165px;
  margin: 0 auto;
}

.people-say__category-description {
  text-align: left;
  text-transform: uppercase;
}

.people-say__category-title {
  text-align: left;
  margin-top: 8px;
  line-height: 64px;
  text-transform: capitalize;
}

.people-say__circles-wrapper {
  margin-top: 82px;
}

.people-say__circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #E5E5E5;
  border-radius: 50%;
  margin-right: 25px;
}

.people-say__circle:first-child {
  background-color: #39425D;
}
/*# sourceMappingURL=main-section.css.map */