.btn {
  font-family: 'Google Sans';
  font-size: 17px;
}

.category-title {
  font-family: Volkhov;
  font-weight: 700;
  font-size: 50px;
}

.category-description {
  color: #5E6282;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
}

.category-title {
  color: #181E4B;
  text-align: center;
}

.btn {
  color: #fff;
  padding: 18px 26px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width: 1270px) {
  .people-say__category-title, .people-say__category-description {
    text-align: center !important;
  }
}

@media screen and (max-width: 1220px) {
  .header, .main-advantages, .footer {
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 1140px) {
  .services-list, .destinations-list, .sponsors-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .destinations-list__item {
    margin-bottom: 40px;
  }
  .book-trip, .people-say {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .maxi-popup {
    margin-top: 50px;
  }
  .people-say {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .people-say__js-window-wrapper {
    margin: 0 auto;
    padding-left: 47px;
    margin-top: 64px;
  }
  .book-trip__category-description, .book-trip__category-title {
    text-align: center !important;
  }
  .booking-list__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1110px) {
  .hero-content {
    background-size: auto 60%;
    background-position: right center;
  }
  .subscribe-form__input {
    margin-bottom: 20px;
  }
  .subscribe-form__label {
    top: calc(25px + 9px);
  }
}

@media screen and (max-width: 920px) {
  .hero-content {
    background-image: none;
  }
  .header {
    background-position: right 50% top;
    padding-right: 0;
  }
  .hamburger-menu__toggle, .hamburger-menu__btn {
    display: unset;
  }
  .hamburger-menu__toggle {
    opacity: 0;
  }
  .hamburger-menu {
    position: relative;
  }
  .hamburger-menu__btn {
    position: absolute;
    right: 0;
    width: 30px;
    height: 24px;
    z-index: 1;
    margin-right: 20px;
    margin-top: 3px;
    z-index: 2;
  }
  .hamburger-menu__icon,
  .hamburger-menu__icon::before,
  .hamburger-menu__icon::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 50%;
    background-color: #212832;
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
  }
  .hamburger-menu__icon::before {
    content: '';
    top: -10px;
  }
  .hamburger-menu__icon::after {
    content: '';
    top: 10px;
  }
  .nav-list {
    position: absolute;
    display: block;
    visibility: hidden;
    top: -56px;
    right: 0;
    width: 250px;
    height: 100vh;
    padding: 20px;
    padding-top: 100px;
    background-color: #FFF1DA;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 1;
  }
  .nav-list__item {
    margin-bottom: 10px;
  }
  .header-hero {
    margin-right: 0;
  }
  .media-content {
    padding-right: 0;
  }
  .hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__icon {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__icon::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  .hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__icon::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .hamburger-menu__toggle:checked ~ .nav-list {
    visibility: visible;
  }
  .subscribe-wrapper {
    padding: 50px 50px;
  }
  .subscribe-form__input {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo-wrapper {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
  }
  .footer__logo-slogan {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .footer-info, .footer__logo-wrapper {
    margin-bottom: 30px;
  }
  .footer__downloads {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 20px;
  }
  .footer-copyright {
    margin-top: 40px;
  }
}

@media screen and (max-width: 860px) {
  .subscribe-wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 760px) {
  .destinations-list__item {
    margin-right: 10px;
    margin-left: 10px;
  }
  .pagination {
    margin-left: 80px;
  }
}

@media screen and (max-width: 680px) {
  .header, .main-advantages, .footer {
    padding-left: 5px;
    padding-right: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .title-decoration::after {
    display: none;
  }
  .mini-popup {
    bottom: -100px;
    right: 50px;
  }
  .people-say__js-cards {
    margin-right: 5px;
  }
  .people-say__js-card-wrapper:not(:first-child) {
    margin: -155px 0 0;
  }
  .pagination {
    display: none;
  }
  .subscribe-wrapper {
    margin-right: 5%;
  }
}
/*# sourceMappingURL=media-query.css.map */