.navigation {
    display: flex;
}

.btn {
    margin-right: 10px;
}

.btn, .avaliableOptions {
    padding: 10px;
}

.btn:focus, .avaliableOptions:focus {
    border: 2px solid black;
}

.itemSearcher {
    margin-top: 20px;
}

.itemSearcherTitle {
    margin-bottom: 5px;
}

.itemSearcherWindow {
    padding: 10px 5px;
}

.accordeonCondition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}

.toggler {
    display: flex;
    flex-direction: column;
}

.nonFilteredList, .categoryList {
    list-style-type: none;
    padding-left: 0;
}

.categoryList {
    margin: 0;
    box-sizing: border-box;
}

.categoryList :first-child:not(.arrow){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px;
    margin: 5px 0;
}

.categoryListItem {
    padding: 5px 10px;
    box-sizing: border-box;
}

.toggler, .showContentArrow, .hideContentArrow {
    cursor: pointer;
}

.showContentArrow{
    content: url('./img/arrow-down.svg');
}

.hideContentArrow {
    content: url('./img/arrow-up.svg');
}

.hideItems {
    display: none;
}