body{
    background-color: #EFF8FF;
    margin: 0 auto;
}

header button, footer button{
    background-color: rgb(96, 150, 236);
    height: 50px;
    width: 80px;
    color: #fff;
    border-top: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 2px solid rgba(255, 255, 255, 0.8);
    border-right: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

header{
    text-align: right;
    margin: 15px;
}

footer {
    margin: 15px 0 0 15px;
}

section{
    border: 1px solid rgb(96, 150, 236);
    padding: 20px;
}

section article {
    background-color: #F2F2D8;
}

section article button{
    background-color: #AA2B2C;
    color: #fff;
    height: 25px;
}

section > button{
    margin-top: 10px;
    background-color: #fff;
    color: #0000ff;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-left: 2px solid rgba(0, 0, 0, 0.1);
}

main{
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
}

.homework2{
    margin: 10px;
    background-image: url('https://photolemur.com/uploads/blog/unnamed.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #E6B432;
}