body{
    margin: 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}
header, nav, section{
    margin-bottom: 15px;
}
header, nav, aside, article, footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
    background-color: #A9AAAC;
    height: 80px;
}
nav{
    background-color: #FE007D;
    height: 50px;
}
section{
    display: flex;
}
aside{
    background-color: #4E8D82;
    height: 400px;
    width: 30%;
    margin-right: 15px;
}
main{
    background-color: #88B05A;
    height: 400px;
    width: 70%;
}
article{
    background-color: #005DAD;
    height: 150px;
    margin: 20px;
}
footer{
    background-color: #E94E1E;
    height: 50px;
}