body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('space.jpg');
}
.sun, .mars-orbit, .mars-orbit--hover, .mars-orbit div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.sun{
    height: 200px;
    width: 200px;
    background-color: orange;
    z-index: 2;
}
.mars-orbit--hover{
    height: 497px;
    width: 497px;
    cursor: default;
    z-index: 1;
}
.mars-orbit{
    height: 500px;
    width: 500px;
    border: 3px solid #fff;
    cursor: pointer;
    z-index: 0;
}
.mars{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: -50px;
    animation: moving 6s linear infinite;
    cursor: pointer;
}
@keyframes moving{
    from{
        transform: rotate(0deg) translateX(250px);
    }
    to{
        transform: rotate(360deg) translateX(250px);
    }
}
.sun, .mars-orbit{
    transition: 500ms;
}
.mars-orbit:hover div{
    animation-play-state: paused;
}
.mars-orbit div:hover{
    /* transform: scale(1.2); */
    width: 120px;
    height: 120px;
}
.sun:hover{
    cursor: pointer;
    transform: scale(1.2) translate(-40%,-40%);
}