@import url('style.css');

.content{
    max-width: 1266px;
    margin: 0 auto;
}

.benefits{
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin-top: -215px;
    margin-bottom: 124px;
    background-color: var(--text-color);
}

.benefits__title{
    padding: 86px 0 120px 53px;
}

.benefits-categories {
    display: flex;
    flex-direction: row;
    padding: 0 106px 120px 53px;
}

.benefits-categories__img-wrapper {
    padding-bottom: 37px;
}

.benefits-categories__img {
    width: 58px;
    height: 58px;
}

.benefits-categories__title {
    font-size: var(--font-size-m);
    font-weight: 700;
    color: #000;
}

.benefits-categories__item:not(:last-child){
    margin-right: 55px;
}

.benefits-categories__item{
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    transition: transform 1s;
}

.benefits-categories__item:hover{
    background-color: rgba(0, 109, 254, 0.1);
    transform: scale(1.1);
}

.benefits-categories__item:hover .benefits-categories__title {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.benefits-categories__about {
    padding: 26px 0 39px 0;
    line-height: 24px;
}

.trips {
    margin-bottom: 140px;
    max-width: 1274px;
}

.trips__title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.trip-places {
    margin-top: 36px;
    margin-bottom: 130px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.trip-places__item {
    position: relative;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    margin: 10px 10px 0 0;
}

.trip-places__img{
    transform: scale(1.1);
    transition: transform .3s ease-in-out;
}

.trip-places__item-wrapper{
    overflow: hidden;
}

.trip-places__item:hover .trip-places__img{
    transform: scale(1);
}

.trip-places__name{
    color: var(--text-color);
    font-size: var(--font-size-3xl);
    font-weight: 700;
    margin: 0 0 30px 30px;
    position: absolute;
    bottom: 0;
}

.more-about-places {
    display: flex;
    flex-direction: column;
    color: var(--section-title-color);
}

.more-about-places__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 77px 77px 0;
}

.more-about-places__item:last-child{
    margin-bottom: 0;
}

.more-about-places__item:nth-child(even) {
    flex-direction: row-reverse;
}

.more-about-places__info {
    padding: 0 47px 0 0;
    margin-left: 108px;
    width: 100%;
}

.more-about-places__item:nth-child(even) .more-about-places__info{
    padding: 0 0 0 47px;
    margin-left: 0;
    margin-right: 108px;
}

.more-about-places__title {
    width: 370px;
    line-height: 40px;
    font-size: var(--font-size-xl);
    font-weight: 700;
    width: 100%;
}

.more-about-places__description {
    line-height: 24px;
    margin: 85px 0 58px;
}

.more-about-places__item:nth-child(even) .more-about-places__description{
    margin-top: 45px;
}

.top-places {
    max-width: 1280px;
    margin-bottom: 144px;
}

.top-places-feed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.top-places-feed__item {
    box-sizing: border-box;
    max-width: 386px;
    margin: 60px 40px 0 0;
}

.top-places-feed__item-wrapper{
    position: relative;
    overflow: hidden;
}

.top-places-feed__caption {
    position: absolute;
    bottom: -50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21, 24, 36, 0.6);
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 15px 15px 25px;
    box-sizing: border-box;
    opacity: 0;
    transition: all 1s ease;
}

.top-places-feed__country {
    font-size: var(--font-size-m);
}

.top-places-feed__insights {
    display: flex;
    position: relative;
}

.top-places-feed__img {
    width: 100%;
    opacity: 0.7;
    transition: opacity 1s ease;
}

.top-places-feed__item:hover .top-places-feed__img {
    opacity: 1;
}

.top-places-feed__item:hover .top-places-feed__caption {
    opacity: 1;
    bottom: 0;
}

.likes{
    margin-right: 15px;
}

.likes, .comments {
    display: flex;
    align-items: center;
}

.likes__amount, .comments__amount{
    margin-right: 5px;
}

.top-places-feed__description {
    margin: 45px 0 31px;
    line-height: 24px;
    padding-right: 10px;
}

.top-places-feed__more-button {
    padding: 12px 19px;
}

.video{
    margin-bottom: -2px;
}

.video__screen {
    width: 100%;
    height: 609px;
    object-fit: cover;
}