:root{
    --text-color: #fff;
    --bg-color: #F2F2F2;
    --footer-color: #0E1D28;
}

@media screen and (max-width: 1270px) {
    .media-content{
        padding-left: 10px;
        padding-right: 10px;
    }

    .trip-places{
        justify-content: center;
    }

    .trip-places__item{
        width: 35%;
        height: 100%;
    }
    .top-places-feed{
        justify-content: center;
    }
}

@media screen and (max-width: 1170px) {
    .header-hero{
        margin-right: 20px;
        margin-left: 20px;
    }

    .more-about-places__item, .more-about-places__item:nth-child(even){
        background-color: var(--text-color);
        padding: 30px;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .more-about-places__img{
        width: 100%;
        margin-bottom: 20px;
    }

    .more-about-places__description {
        margin-top: 45px;
    }

    .more-about-places__info,
    .more-about-places__item:nth-child(even) .more-about-places__info {
        margin: 0;
        padding: 0 20px;
    }

    .benefits, .trips, .trip-places, .top-places {
        margin-bottom: 50px;
    }

    .footer-content{
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 960px){
    .header-form{
        flex-direction: column;
        align-items: flex-start;
    }

    .header-title{
        padding-bottom: 200px;
    }

    .header-form__input{
        margin-bottom: 20px;
    }

    .benefits{
        background-color: inherit;
        box-shadow: none;
        margin-top: -115px;
        margin-bottom: 0;
    }

    .benefits__title{
        background-color: var(--bg-color);
        padding-top: 70px;
        padding-bottom: 50px;
    }

    .benefits-categories {
        flex-direction: column;
        align-items: center;
        padding: 0 0 50px 0;
    }

    .benefits-categories__item{
        background-color: var(--text-color);
        margin-top: 20px;
        padding: 50px;
    }

    .benefits-categories__item:not(:last-child){
        margin-right: 0;
    }

    .trip-places__item {
        width: 45%;
    }
}

@media screen and (max-width: 700px){
    #hamburger-menu__toggle, .hamburger-menu__btn{
        display: unset;
    }

    #hamburger-menu__toggle{
        opacity: 0;
    }

    .hamburger-menu{
        position: relative;
    }

    .hamburger-menu__btn{
        position: absolute;
        right: 0;
        width: 30px;
        height: 24px;
        z-index: 1;
        margin-right: 20px;
        margin-top: 3px;
    }

    .hamburger-menu__btn span,
    .hamburger-menu__btn span::before,
    .hamburger-menu__btn span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 50%;
        background-color: var(--text-color);
        transition-duration: .3s;
    }

    .hamburger-menu__btn span::before {
        content: '';
        top: -10px;
    }

    .hamburger-menu__btn span::after {
        content: '';
        top: 10px;
    }

    .nav-list {
        position: absolute;
        display: block;
        visibility: hidden;
        top: -56px;
        right: 0;
        width: 250px;
        height: 100vh;
        padding: 20px;
        padding-top: 100px;
        background-color: var(--footer-color);
        align-items: flex-end;
        box-sizing: border-box;
    }

    .nav-list__item{
        margin-bottom: 10px;
    }

    .header-hero{
        margin-right: 0;
    }

    .media-content{
        padding-right: 0;
    }

    #hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__space {
        transform: rotate(45deg);
    }

    #hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__space::before {
        top: 0;
        transform: rotate(0);
    }

    #hamburger-menu__toggle:checked ~ .hamburger-menu__btn .hamburger-menu__space::after {
        top: 0;
        transform: rotate(90deg);
    }

    #hamburger-menu__toggle:checked ~ .nav-list {
        visibility: visible;
    }

    .media-content{
        padding-right: 10px;
    }

    .top-places-feed__item{
        margin-right: 0;
    }

    .trips__title-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .trips__link-wrapper{
        margin-top: 30px;
    }

    .trip-places__item {
        width: 60%;
        margin-right: 0;
    }

    .video__screen{
        height: 400px;
    }

    .footer{
        padding: 60px 0;
    }

    .footer-content{
        flex-direction: column;
    }

    .footer__logo-wrapper{
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .trip-places__item {
        width: 90%;
    }
}