:root{
    --text-color: #fff;
    --bg-color: #F2F2F2;
    --link-color: #006DFE;
    --button-color: #1B7DFF;
    --section-title-color: #102746;
    --font-size-standart: 16px;
    --font-size-m: 18px;
    --font-size-l: 24px;
    --font-size-xl: 30px;
    --font-size-xxl: 35px;
    --font-size-3xl: 50px;
}

html {
    font-family: Lato, Roboto, sans-serif;
    font-size: var(--font-size-standart);
    background-color: var(--bg-color);
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: var(--text-color);
    border: none;
    text-transform: uppercase;
    position: relative;
}

.button::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--text-color);
    opacity: 0.3;
    transition: 0.5s ease;
}

.button:hover::before{
    width: 100%;
}

.link-wrapper{
    display: flex;
    flex-direction: row;
}

.link {
    color: var(--link-color);
    text-transform: uppercase;
    margin-right: 25px;
    transition: 0.5s;
}

.link:hover{
    transform: scale(1.2);
}

.link-hover{
    position: relative;
}

.link-hover:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: var(--text-color);
    bottom: 0;
    margin-bottom: -4px;
    display: block;
    transition: 0.5s ease;
}

.link-hover:hover:before{
    width: 100%;
}

.section-title{
    color: var(--section-title-color);
    font-size: var(--font-size-xxl);
    font-weight: 700;
}

.section-title-line{
    position: relative;
}

.section-title-line::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 253px;
    background-color: var(--button-color);
    padding: 0;
    margin-bottom: -14px;
}