html {
    font-family: Lato, Roboto, sans-serif;
    background-color: #F2F2F2;
}

.button {
    display: inline;
    background-color: #1B7DFF;
    color: #fff;
    border: none;
    text-transform: uppercase;
}

.link-wrapper{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.link {
    color: #006DFE;
    text-transform: uppercase;
}

.section-title{
    color: #102746;
    font-size: 35px;
    font-weight: 700;
}

.section-title-bottom-line{
    display: inline-block;
    height: 0;
    padding: 0;
    border: 2px solid #006DFE;
    width: 253px;
    margin: 7px 0 0 0;
}