@import 'style.scss';

.main-advantages {
    margin: 0 auto;
    max-width: 1228px;
}

.best-services {
    margin: 105px 0 156px 0;
    background-image: url('../img/best-services-plus-bg.png');
    @extend %bg-prop;
    background-position: right 0;
}

.best-services__category-description{
    text-transform: uppercase;
}

.best-services__category-title {
    margin: 10px 0 68px 0;
}

.services-list {
    display: flex;
    justify-content: space-around;
}

.services-list__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    box-sizing: border-box;
    padding: 45px 43px;
    position: relative;
    transition: all .5s;
}

.services-list__item:hover{
    border-radius: 36px;
    background-color: #fff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.services-list__item::before{
    position: absolute;
    content: '';
    width: 100px;
    height: 100px;
    background-color: $hero-description-color;
    border-radius: 30px 0 10px;
    bottom: -33px;
    left: -35px;
    z-index: -1;
    opacity: 0;
    transition: all .3s;
}

.services-list__item:hover::before{
    opacity: 1;
}

.services-list__image-wrapper {
    margin: 0 auto;
}

.services-list__title {
    color: $text-heading-color;
    @include open-sans-medium(20px);
    margin: 30px 0 15px;
}

.services-list__description {
    color: $text-color;
    line-height: 26px;
    @include poppins-font-semibold(16px);
    max-width: 181px;
}

.top-destinations {
    margin: 0 auto;
    max-width: 1102px;
    // padding-bottom: 186px;
    background-image: url('../img/top-destinations-decore.png');
    @extend %bg-prop;
    background-position: right center;
}

.top-destinations__category-title {
    margin: 8px 0 60px;
}

.destinations-list {
    display: flex;
}

.destinations-list__item {
    position: relative;
    @include poppins-font-semibold(18px);
    color: $text-color;
    margin-right: 47.5px;
}

.destinations-list__image {
    border-radius: 0 0 24px 24px;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.destinations-list__content-wrapper{
    box-sizing: border-box;
    padding: 27px 25px 42px 20px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 22px 22px;
}

.destinations-list__title-wrapper {
    width: inherit;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
}

.destinations-list__trip-duration{
    height: 20px;
}

.destinations-list__trip-duration::before {
    content: url('../img/destinations-card-navigation.png');
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.book-trip {
    max-width: 1114px;
    margin: 0 auto;
    // padding-bottom: 200px;
    display: flex;
    align-items: center;
}

.book-trip__category-description {
    text-align: left;
}

.book-trip__category-title{
    margin: 15px 0 31px;
    text-align: left;
    line-height: 64.5px;
    text-transform: capitalize;
}

.booking-list__item {
    box-sizing: border-box;
    display: flex;
    padding-bottom: 48px;
}

.booking-list__image {
    margin-right: 21px;
    width: 47px;
    height: 48px;
}

.booking-list__text-wrapper {
    color: $text-color;
}

.booking-list__title {
    @include poppins-font-bold(16px);
    margin-bottom: 4px;
}

.booking-list__description {
    @include poppins-font-normal(16px);
    line-height: 19.92px;
    max-width: 395px;
}

.book-trip__image {
    margin-right: -50px;
}

.people-say {
    display: flex;
    max-width: 1114px;
    margin: 0 auto;
}

.people-say__category-description {
    text-align: left !important;
    text-transform: uppercase;
}

.people-say__category-title {
    text-align: left !important;
    margin-top: 8px;
    line-height: 64px;
    text-transform: capitalize;
}

.people-say__circles-wrapper{
    margin-top: 82px;
}

.people-say__circle{
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #E5E5E5;
    border-radius: 50%;
    margin-right: 25px;
}

.people-say__circle:first-child{
    background-color: #39425D;
}

.sponsors {
    margin: 0 auto;
    max-width: 1068px;
    margin-bottom: 145px;
}

.sponsors-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponsors-list__item {
    padding: 20px 40px;
    cursor: pointer;
}

.sponsors-list__logo {
    filter: grayscale(100%);
}

.sponsors-list__item:hover {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
        0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
        0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
        0px 20px 13px rgba(0, 0, 0, 0.01),
        0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
        0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.sponsors-list__item:hover .sponsors-list__logo{
    filter: grayscale(0%);
}

.subscribe {
    max-width: 1356px;
    margin: 0 auto;
    padding-bottom: 70px;
    margin-bottom: 96px;
    position: relative;
    background-image: url('../img/subscribe-plus-bg.png');
    @extend %bg-prop;
    background-position: right bottom;
}

.subscribe-wrapper {
    background-color: #dfd7f9;
    border-radius: 129px 20px 20px 20px;
    position: relative;
    margin-left: 87px;
    margin-right: 99px;
    padding: 79px 140px;
    background-image: url('../img/subscribe-decor-bg.png');
    @extend %bg-prop;
    background-position: right top;
}

.subscribe-wrapper::after {
    content: url('../img/message-icon.png');
    display: block;
    position: absolute;
    height: 70px;
    width: 70px;
    top: -13px;
    right: -20px;
}

.subscribe-title {
    @include poppins-font-medium(33px);
    line-height: 54px;
    color: $text-color;
    text-align: center;
    margin-bottom: 74px;
}

.subscribe-form {
    text-align: center;
    position: relative;
}

.subscribe-form__input {
    box-sizing: border-box;
    padding: 25px 31px;
    padding-left: 64px;
    border: none;
    border-radius: 10px;
    width: 421px;
}

.subscribe-form__input, .subscribe-form__input ::placeholder{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
}

.subscribe-form__label{
    content: url('../img/mail-icon.png');
    position: absolute;
    height: 18px;
    width: 21px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 31px;
}

.subscribe-form__btn {
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    margin-left: 24px;
    padding-top: 23px;
    padding-bottom: 23px;
}

