$header-color: #212832;
$hero-description-color: #DF6951;
$hero-title-color: #181E4B;
$text-color: #5E6282;
$text-heading-color: #1E1D4C;
$btn-text: #fff;
$btn-hero: #F1A501;
$play-demo: #686D77;

%google-sans-font {
    font-family: 'Google Sans';
    font-size: 17px;
}

%bg-prop{
    background-repeat: no-repeat;
}

@mixin poppins-font-bold($size){
    font-family: Poppins;
    font-weight: 700;
    font-size: $size;
}

@mixin poppins-font-medium($size){
    font-family: Poppins;
    font-weight: 600;
    font-size: $size;
}

@mixin poppins-font-semibold($size){
    font-family: Poppins;
    font-weight: 500;
    font-size: $size;
}

@mixin open-sans-medium($size){
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: $size;
}

%volkhov-font-bold{
    font-family: Volkhov;
    font-weight: 700;
    font-size: 50px;
}

.category-description{
    text-transform: uppercase;
    color: $text-color;
    @include poppins-font-medium(18px);
}

.category-title{
    color: $hero-title-color;
    @extend %volkhov-font-bold;
}

.btn{
    color: $btn-text;
    padding: 18px 26px;
    border: none;
    border-radius: 10px;
    @extend %google-sans-font;
    font-size: 18px;
}