.parent1, .parent2, .parent3, .parent4{
    width: 500px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 20px;
}
.child1, .child2, .child3, .child4{
    width: 100px;
    height: 100px;
    background-color: violet;
}
.parent1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.parent2{
    position: relative;
}
.child2{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.child3{
    margin: 0 auto;
}
.parent4{
    text-align: center;
}